<div class="profile">
    <div class="profile__avatar avatar avatar_large">
        <img src={{avatarIcon}} alt="user-avatar" />
        <div id="upload-avatar-button" class="profile__avatar-hover-change-background">
            Поменять <br />
            аватар
        </div>
    </div>
    <div class="profile__inputs">
        <label class="profile__input" for="oldPassword">
            Старый пароль
            <input placeholder="*****" class="input input_no-border" type="password" id="oldPassword" />
        </label>
        <span class="divider"></span>
        <label class="profile__input" for="newPassword">
            Новый пароль
            <input placeholder="*****" class="input input_no-border" type="password" id="newPassword" />
        </label>
        <span class="divider"></span>
        <label class="profile__input" for="newPasswordRepeat">
            Повторите новый пароль
            <input placeholder="*****" class="input input_no-border" type="password" id="newPasswordRepeat" />
        </label>
    </div>

    <div class="profile__actions">
        <button class=" profile__submit button button_contained">Сохранить</button>
    </div>
</div>