<form id="avatar-upload-modal" class="avatar-modal">
    <div class="avatar-modal__container">
        <h1>Загрузите файл</h1>
        <label for="modal-input" class="avatar-modal__input">
            Выбрать файл на компьютере
        </label>
        <input name="modal-input" id="modal-input" class="input" type="file" />
        <button type="submit" class="button button_contained">Поменять</button>
    </div>
</form>