<div class="login-form-container">
  <form id="#" class="auth-form">
    <h1 class="auth-form__title">Вход</h1>
    <div class="auth-form__inputs">
      <label class="input__label" for="login">Логин</label>
      <input type="text" id="login" name="login" class="input input_bottom-border auth-form__input" type="text" />

      <label class="input__label" for="password">Пароль</label>
      <input type="text" id="password" name="password" class="input input_bottom-border auth-form__input"
        type="password" />
    </div>
    <div class="auth-form__buttons">
      <button class="button button_contained auth-form__submit">Авторизоваться</button>
      <button class="button button_outlined auth-form__sign">Нет аккаунта?</button>
    </div>
  </form>
</div>