<div class="register-form-container">
    <form id="#" class="auth-form">
        <h1 class="auth-form__title">Регистрация</h1>
        <div class="auth-form__inputs">
            <label class="input__label" for="email">Почта</label>
            <input type="text" id="email" name="email" class="input input_bottom-border auth-form__input"
                type="email" />

            <label class="input__label" for="login">Логин</label>
            <input type="text" id="login" name="login" class="input input_bottom-border auth-form__input" type="text" />

            <label class="input__label" for="first_name">Имя</label>
            <input type="text" id="first_name" name="first_name" class="input input_bottom-border auth-form__input"
                type="text" />

            <label class="input__label" for="second_name">Фамилия</label>
            <input type="text" id="second_name" name="second_name" class="input input_bottom-border auth-form__input"
                type="text" />

            <label class="input__label" for="phone">Телефон</label>
            <input type="text" id="phone" name="phone" class="input input_bottom-border auth-form__input"
                type="number" />

            <label class="input__label" for={{labelName}}>Пароль</label>
            <input type="text" id="password" name="password" class="input input_bottom-border auth-form__input"
                type="number" />

            <label class="input__label" for="passwordRepeat">Пароль (еще раз)</label>
            <input type="text" id="passwordRepeat" name="passwordRepeat"
                class="input input_bottom-border auth-form__input" type="number" />
        </div>

        <div class="auth-form__buttons">
            <button class="button button_contained auth-form__submit">Зарегистрироваться</button>
            <button class="button button_outlined auth-form__sign">Войти</button>
        </div>
    </form>
</div>