@use "sass/abstracts/variables" as *;

.button {
  font-size: $default-font-size;
  border: none;
  font-weight: 500;
  background-color: transparent;
  cursor: pointer;

  &_contained {
    width: 100%;
    height: 3.7rem;
    color: #ffff;
    border-radius: 0.8rem;
    background-color: $color-primary;
  }

  &_outlined {
    color: $color-primary;
    font-size: 1.1rem;
  }

  &_featured::after {
    content: "\2807";
    font-size: 2rem;
  }

  &_warning {
    color: $color-warning;
  }
}
